{
    "importOrder": [
      "react",
      "^@/store/(.*)$",
      "^@/hooks/(.*)$",
      "^@/components/(.*)$",
      "^@/types/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true, 
    "importOrderSortSpecifiers": true 
}